*{
    background-color: black;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#gallery-section .title{
    padding: 10px 0 10px;
    color: yellow;
    text-align: center;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#gallery-section .gallery-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;

}
#gallery-section .gallery-list .gallery-item{
    width:calc(33% - 32px);
}
#gallery-section .gallery-list .gallery-item img{
    width:100%;
    height: 100%;
    border-radius: 8px;
}