*{
    margin:0;
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(autofill,minmax(250px, 1fr));
    grid-template-rows: minmax(200px, auto);
    gap: 20px;
}
.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.wide{
    grid-column: span 2;

}

.tall{
    grid-column: span 2;
}

