*{
    margin: 0;
    box-sizing: border-box;
    background-color: aqua;
}

.grid-container{
    display: grid;
    grid-template-columns: 250px 250px 250px ;
    grid-template-rows: 250px 250px 250px;
    gap: 10px;
}

.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: solid 1px black;
    background-color: blueviolet;
    border-radius: 10px;
    transition: transform 0.4s;
}

.grid-item:hover{
    transform: scale(1.025);
}
.wide{
    grid-column: span 3;
}